<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/" lang="ja" xml:lang="ja">
<xi:include href="admin.html" />

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>チケットワークフロー管理</title>
</head>

<body>

<h2>チケットワークフロー管理</h2>

<form id="mod" class="mod" method="post">
  <fieldset>
    <legend>ワークフロー設定</legend>
    <br />
    <div id="workflowTabs" style="display:none;">
      <ul>
        <li><a href="#gridTab"><span>Grid</span></a></li>
        <li><a href="#textTab"><span>Text</span></a></li>
      </ul>
      <div id="gridTab">
        <table id="workflowStatusGrid" class="scroll" cellpadding="0" cellspacing="0"></table>
        <table id="workflowGrid" class="scroll" cellpadding="0" cellspacing="0"></table>
        <br />
        <ul>
          <li>操作を編集する場合は、「追加」「変更」「削除」ボタンをしてください。</li>
          <li>ステータスを編集する場合は、「ステータスの編集」ボタンを押下してください。</li>
        </ul>
        <input type="button" id="workflowGridItemAdd" value="追加" />
        <input type="button" id="workflowGridItemMod" value="変更" />
        <input type="button" id="workflowGridItemDel" value="削除" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" id="workflowStatusGridItemMod" value="ステータスの編集" />
      </div>
      <div id="textTab">
        <textarea id="workflowText" name="workflow_config" rows="20" cols="100" wrap="off">${template.workflow_config}</textarea>
      </div>
    </div>
    <br />
    <div>ワークフローの設定方法については、<a href="${href.wiki('TracWorkflow')}">TracWorkflow</a>を参照してください。</div>
  </fieldset>

  <div class="buttons">
    <input id="doChanges" type="submit" value="変更を適用" />
  </div>
</form>

<br />

<form id="init" class="add" method="post">
  <input type="hidden" name="workflow_config" value="${template.workflow_default_config}" />
  <div>ワークフローを初期設定に戻すには、以下のボタンを押下してください。</div>
  <div class="buttons">
    <input type="submit" value="初期設定に戻す" />
  </div>
</form>

</body>

</html>
